# Port to bind webhook listener to.
# Optional. Default: 3000
PORT=3000

# Publically-available URL of the webhook listener. This is used to register the webhook with Telegram.
# Optional. If not provided, the webhook will not be registered automatically via setWebhook Bot API.
TLGRMR_REPLY_ONLY__PUBLIC_WEBHOOK_URL=http://replies-only:3000

# Base URL of Telegram Bot API endpoint.
# Optional. Default: https://api.telegram.org
TLGRMR_REPLY_ONLY__API_ROOT=http://telegramer:3001

# Bot token.
# Required.
TLGRMR_REPLY_ONLY__BOT_TOKEN=1337733:B4CKSP4CEB4CKSP4CEB4CKSP4CEB4CKSP4C

# Comma-separated list of Telegram chats IDs to handle replies in.
# Required. Example: -123456789,1234567890
TLGRMR_REPLY_ONLY__CHATS_IDS=-123456789,1234567890